body {
	background-color: 99FFFF;
}
h1 {
	color: 142487;
}
h3 {
	color: 142487;
}
/*Woo-hoo! Yippeee! As of the end of last work session I definitely got this document to play nice with the HTML document! I have successfully changed what I wanted to change! Next steps: Get logo picture from Jingyi, change fonts to Courier)
