body {
	background-color: 99FFFF;
}
h1 {
	color: 142487;
}
h3 {
	color: 142487;
}
/*So as of last class, CSS and HTML were playing nice. Now the below command, font, isn't working. S.O.S.!*/
p {
	font-family: "Courier", monospace;
}